@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.sobreGrupo {
    width: 100%;
    height: 90vh;
    background-color: #141414;
}
.sobreMain {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0% 2% 2% 2%;
}
.sobreEsq {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10%;
    padding-top:17%;
}
.sobreLinha{
    background-color: #F4B15D;
    height: 90px;
    width: 2px;
}
.sobreTitle{
    position: relative;
    z-index: 9;
    color: #F4B15D;
    font-size: x-small;
    font-family: Roboto;
    text-overflow: clip;
    white-space: nowrap;
    padding-top: 5%;
}
.sobreVideo {
    width: fit-content;
    margin: 0% 1% 0% 0%;
    display: flex;
    justify-content: center;
}
iframe {
    height: 315px;
    width: 560px;
}
.sobreDir {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 10%;
    padding-top:55%
}
.sobreLinha2{
    background-color: #F4B15D;
    height: 90px;
    width: 2px;
}